<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo %}
    {% include meta.html %}
    
    <link rel="preload" href="/fonts/Lora/Lora-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#673AAC">
    <script type="text/javascript">
      var host = "www.brassington.dev";
      if ((host == window.location.host) && (window.location.protocol != "https:"))
          window.location.protocol = "https";
    </script>
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}
              <a href="/subscribe/" class="btn-subscribe" title="Subscribe Now!">
                <svg viewBox="0 0 800 800"><path d="M493 652H392c0-134-111-244-244-244V307c189 0 345 156 345 345zm71 0c0-228-188-416-416-416V132c285 0 520 235 520 520z"></path><circle cx="219" cy="581" r="71"></circle></svg>
                Subscribe
              </a>
            <a href="/subscribe/" class="btn-subscribe" title="Subscribe Now!">
                <svg viewBox="0 0 100 80"><path d="M 60 6 C 41.246012 6 26 21.24602 26 40 C 26 48.647991 29.260869 56.557316 34.59375 62.5625 C 32.75302 64.404443 6.9136386 90.261724 6.5625 90.625 C 6.2146811 90.98484 6 91.460011 6 92 C 6 93.104569 6.8954306 94 8 94 C 8.4203163 94 8.8030647 93.877751 9.125 93.65625 C 9.4674506 93.420634 35.547978 67.269495 37.40625 65.40625 C 43.417142 70.76391 51.329472 74 60 74 C 78.753999 74 94 58.7539 94 40 C 94 21.24602 78.753988 6 60 6 z M 60 10 C 76.592232 10 90 23.40778 90 40 C 90 56.5921 76.592221 70 60 70 C 43.407779 70 30 56.5921 30 40 C 30 23.40778 43.407768 10 60 10 z M 60 20 C 55.029437 20 51 24.02944 51 29 C 51 31.82046 52.313199 34.31858 54.34375 35.96875 C 47.734844 38.29917 43 44.59367 43 52 L 77 52 C 77 44.59367 72.265156 38.29917 65.65625 35.96875 C 67.686801 34.31858 69 31.82046 69 29 C 69 24.02944 64.970563 20 60 20 z"/></svg>
                Hiring?
            </a></p> 
            
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/search">Search</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
